.confirmed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 4rem 2rem;
}

.confirmed-container h1 {
    font-size: 4rem;
    color: #333333;
}

.confirmed-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.confirmed-row h3, p {
    font-size: 3rem;
    margin: 0;
}

.confirmed-row h3 {
    color: #495E57;
}

@media screen and (max-width: 480px) {
    .confirmed-container h1 {
        font-size: 3rem;
    }

    .confirmed-row h3, p {
        font-size: 2rem;
    }
}